html, body {
	background: blue;
	overflow-x: hidden;
	min-height: 100vh;
}

body {
  padding: 0;
	margin: 0;
	color: deepskyblue;
	font-family: sans-serif;
	font-size: 100px;
	cursor: not-allowed;
}

ul {
	list-style: none;
}

a {
	font-size: inherit;
	color: inherit;
	text-decoration: none;
}

p {
	margin: 10px 0px;
	width: 100vw;
}

.color-greenyellow {
	color: greenyellow;
	opacity: .9;
}

.content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.about {
}

.name {
	font-size: 4vw;
	position: fixed;
	color: greenyellow;
	z-index: 1;
	mix-blend-mode: darken;
}

.occupation {
	font-size: 6vw;
	text-align: end;
}

.occupation::after {
	width: 20vw;
	height: 15px;
	background: darkblue;
	margin: auto 20vw auto auto;
	display: block;
	content: "";
}

.music {
	font-size: 11.7vw;
}

.sleep {
	color: white;
	font-size: 7vw;
	border-left: 10px solid greenyellow;
	border-right: 10px solid greenyellow;
	box-sizing: border-box;
}

.programming {
	font-size: 5vw;
	text-shadow: 0px -10px deepskyblue, 0px 10px deepskyblue;
	mix-blend-mode: hard-light;
}

.food {
	font-size: 15vw;
	transform: rotate(11deg);
	mix-blend-mode: hard-light;
}

.poem {
	font-size: 2.7vw;
	display: flex;
	align-items: center;
}

.poem > a {
	font-size: 3.5vw;
	background-color: greenyellow;
	margin-left: 15px;
}

.p-type {
	color: darkblue;
	font-size: 10vw;
	position: absolute;
}

.people {
	font-size: 12vw;
	transform: skewX(60deg);
	transform-origin: top;
}

.lifegruard {
	width: 100vw;
	font-size: 3vw;
	text-align: center;
	opacity: .5;
}

.all-the-time {
	font-size: 8vw;
	color: white;
	text-align: end;
}

.genre {
	font-size: 6vw;
	text-align: center;
}

.vine {
	font-size: 3.4vw;
	position: relative;
}

.youtube {
	color: darkblue;
	font-size: 9vw;
	position: absolute;
	mix-blend-mode: difference;
}

.vine > a {
	text-decoration: underline;
	text-decoration-color: greenyellow;
}

.skate {
	font-size: 1.7vw;
	color: white;
	transform: scaleX(2.5);
	transform-origin: left;
}

.song {
	font-size: 2vw;
	margin: 35px 0px;
	text-align: center;
	color: white;
}

.song > a {
	color: greenyellow;
}

.ssn {
	font-size: 8vw;
	position: absolute;
	mix-blend-mode: hard-light;
}

.anime {
	font-size: 8vw;
	transform: rotate(180deg);
	color: white;
}

.house {
	font-size: 2vw;
	text-shadow: 2px 2px 10px greenyellow;
}

.climbing {
	font-size: 9vw;
}

.footer {
	font-size: 40px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.styles {
	font-size: 30px;
	padding: 0px 5px;
}

.triangle:hover {
	color: white;
}

.links {
	width: fit-content;
	background: rgba(0, 255, 255, .6);
	color: greenyellow;
	font-size: 20px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@media only screen and (max-width: 600px) {
	p {
		margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	}

	.p-type, .youtube {
		position: static;
	}

	.song, .house {
		font-size: 3vw;
	}

	.ssn {
		font-size: 4vw;
	}
}