body, html {
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
}

p, a {
	margin: 0;
	padding: 0;
	text-decoration: none;
  color: inherit;
  display: inline-block;
}

.content, .header {
  max-width: 2000px;
  margin: auto;
}

.content {
  min-height: calc(100% - 210px);
  margin-top: 90px;
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: 110px;
  padding: 30px;
  background: black;
  display: flex;
  align-self: center;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}

.home {
  width: 50px;
  height: 50px;
  background: blue url('https://media.giphy.com/media/WJ7hMILRz2VIQ/giphy.gif') center/cover;
  position: absolute;
}

.link {
  padding: 15px 0;
  mix-blend-mode: difference;
}

.link:hover {
  transform: scale(2);
  color: yellow;
}

.links {
  margin: 20px 0;
}

.name {
  width: 100%;
  text-align: center;
}

.page-name {
  align-self: center;
  text-align: center;
  flex: 1;
}

.page-name:after {
	width: 20px;
	display: block;
	content: '';
	border-bottom: 1px solid yellow; 
	text-align: center;
  margin: auto;
  padding-top: 5px;
}

.section {
  width: 300px;
  padding: 20px 10px;
  border: 3px solid white;
  box-sizing: border-box;
  text-align: center;
}

.underline:after {
	width: 20px;
	display: block;
	content: '';
	border-bottom: 1px solid blue; 
	text-align: center;
  margin: auto;
  padding-top: 5px;
}

@media (max-width: 1000px){
  .content {
    flex-direction: column;
    align-items: center;
  }

  .section {
    width: 250px;
    margin: 25px 0;
  }
}