body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 50px;
}

h1, p, a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: inherit;
}

.background {

}

.cool-stuff:after {
	width: 50px;
	display: block;
	content: '';
	border-bottom: 1px solid blue; 
	text-align: center;
	margin: auto;
}

.content {
	display: flex;
}

.email {
	z-index: 1;
}

.footer {
	width: 150px;
	height: 100px;
	padding: 20px 0;
	text-align: center;
	font-size: 2em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: calc(50% - 75px);
	margin: -40px 0 10vh;
	color: white;
	background: black;
	border: 5px solid;
}

.header {
	padding: 20vh 0;
	text-align: center;
}

.link {
	height: 200px;
	display: flex;
	align-items: center;
}

.links {
	width: 100%;
	background: black;
	color: white;
	margin: auto;
	padding: 100px;
	box-sizing: border-box;
}

.linkedin {
	z-index: 2;
}

.name {
	font-family: 'Astloch', cursive;
	font-size: 6em;
}

.title {
	width: calc(100% - 200px);
	height: 300px;
	font-size: 300px;
	display: flex;
	align-items: center;
	position: absolute;
	overflow: hidden;
	mix-blend-mode: difference;
	transition: width .4s, margin .4s;
}

.title:hover {
	width: calc(100% - 100px);
	margin-left: -50px;
}

/* fonts */

.astloch {
	font-family: 'Astloch', cursive;
}

.fugaz-one {
	font-family: 'Fugaz One', cursive;
}

.chelsea-market {
	font-family: 'Chelsea Market', cursive;
}

.im-fell-dv-pica {
	font-family: 'IM Fell DW Pica SC', cursive;
}

.unifraktur-maguntia {
	font-family: 'UnifrakturMaguntia', cursive;
}